<h1>  NAME: <%=current_leader.name%></h1>
<h1>  EMAIL: <%=current_leader.email%></h1>
<h1>  MAJOR: <%=current_leader.major%></h1>
<h1>  SID: <%=current_leader.SID%></h1>
<p><%= button_to "Edit Profile", edit_leader_registration_path, :class => "btn btn-lg btn-default", :method => :get %></p>