<div class="container" style="width: 300px">

  <h2><%= "#{resource_name} registration".upcase %></h2>

  <div class="authform">
  <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
    <%= devise_error_messages! %>

    <% if resource_name == :student or resource_name == :leader %>
      <div class="form-group">
        <%= f.label :name %><br />
        <%= f.text_field :name, autofocus: true, class: 'form-control' %>
      </div>

      <div class="form-group">
        <%= f.label :year %><br />
        <%= f.number_field :year, class: 'form-control' %>
      </div>

      <div class="form-group">
        <%= f.label :major %><br />
        <%= f.text_field :major, class: 'form-control' %>
      </div>

      <div class="form-group">
        <%= f.label :SID, "SID" %><br />
        <%= f.number_field :SID, class: 'form-control' %>
      </div>
    <% end %>

    <% if resource_name == :organization %>
      <div class="form-group">
        <%= f.label :name %><br />
        <%= f.text_field :name, autofocus: true, class: 'form-control' %>
      </div>

      <div class="form-group">
        <%= f.label :category %><br />
        <%= f.text_field :category, class: 'form-control' %>
      </div>

      <div class="form-group">
        <%= f.label :description %><br />
        <%= f.text_field :description, class: 'form-control' %>
      </div>
    <% end %>

    <div class="form-group">
      <%= f.label :email, "Email*" %><br />
      <%= f.email_field :email, class: 'form-control' %>
    </div>

    <div class="form-group">
      <%= f.label :password, "Password*" %>
      <% if @minimum_password_length %>
      <em>(<%= @minimum_password_length %> characters minimum)</em>
      <% end %><br />
      <%= f.password_field :password, autocomplete: "off", class: 'form-control' %>
    </div>

    <div class="form-group">
      <%= f.label :password_confirmation, "Password Confirmation*" %><br />
      <%= f.password_field :password_confirmation, autocomplete: "off", class: 'form-control' %>
    </div>

    <p>*Required fields</p>

    <div class="actions">
      <%= f.submit "Sign up" %>
    </div>
  <% end %>
  </div>

  <%= render "devise/shared/links" %>

</div>
