<div class="container">
  <h2>My Events</h2>
  <hr>
  <% @events.each do |f| %>
    <% if f.organization == current_organization.id %>
      <h4><strong>Event Title:</strong> <%= f.title %><h4>
      <h4><strong>Event Description:</strong> <%= f.description %><h4>
      <h4><strong>Start Time:</strong> <%= f.starttime %>:00<h4>
      <h4><strong>Location:</strong> <%= "Longitude: #{f.longitude} Latitude: #{f.latitude}" %><h4>
    <hr>
    <% end %>
  <% end %>
</div>
<div class="container" style="width: 300px; border-style: solid; padding: 15px; padding-bottom: 40px;">
  <h2>Create New Event</h2>
  <%= simple_form_for @event do |f| %>
    <p>Title:</p><p><%= f.input_field :title %></p>
    <p>Description:</p><p><%= f.input_field :description %></p>
    <p>Start Time:</p><p><%= f.input_field :starttime %>:00 (Military time) Input a value 0-23.</p>
    <p>When you create a new event, it will be assigned a location!</p>
    <%= f.button :submit %>
  <% end %>
</div>
