<!DOCTYPE html>
<html>
<head>
	  <title>Cal Day Scheduler</title>
	  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
	  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
	  <%= csrf_meta_tags %>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>

    <%= include_gon %>
</head>

<body>
<!-- Fixed navbar -->
<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <%= link_to "Cal Day Scheduler", root_path, :method => :get, class: "navbar-brand" %>
    </div>
    <div id="navbar" class="navbar-collapse collapse">
      <ul class="nav navbar-nav" style="float: right;">
        <li><%= link_to "Home", root_path, :method => :get %></li>
        <% if current_student %>
          <li><%= link_to "Profile", student_path(current_student), :method => :get %></li>
          <li><%= link_to "My Events", events_path, :method => :get %></li>
          <li><%= link_to "Logout", destroy_student_session_path, :method => :delete %></li>
          <li style="font-weight: bold; font-stretch: expanded;"><%= link_to current_student.name, student_path(current_student), :method => :get %></li>
        <% end %>
        <% if current_organization %>
          <li><%= link_to "Profile", organization_path(current_organization), :method => :get %></li>
          <li><%= link_to "My Events", new_event_path, :method => :get %></li>
          <li><%= link_to "Logout", destroy_organization_session_path, :method => :delete %></li>
          <li style="font-weight: bold; font-stretch: expanded;"><%= link_to current_organization.name, organization_path(current_organization), :method => :get %></li>
        <% end %>
        <% if current_leader %>
          <li><%= link_to "Profile", leader_path(current_leader), :method => :get %></li>
          <li><%= link_to "Logout", destroy_leader_session_path, :method => :delete %></li>
          <li style="font-weight: bold; font-stretch: expanded;"><%= link_to current_leader.name, leader_path(current_leader), :method => :get %></li>
        <% end %>
        <% if not current_student and not current_organization and not current_leader %>
          <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Login <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><%= link_to "As Student", new_student_session_path, :method => :get %></li>
            <li><%= link_to "As Organization", new_organization_session_path, :method => :get %></li>
            <li><%= link_to "As Group Leader", new_leader_session_path, :method => :get %></li>
          </ul>
        <% end %>
      </ul>
    </div><!--/.nav-collapse -->
  </div>
</nav>

<%= yield %>

<div class="footer" style="background-color: white; padding: 15px; padding-top: 20px; margin-top: 30px; border-top: solid; border-width: 0.5px">
  <div class="container">
  <p class="text-muted" style="color: black; text-align: center;">Copyright 2016 | Team ACEE</p>
  </div>
</div>
</body>
</html>
